/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*, *::before, *:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/
/*---------BASE------*/
.wrapper {
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/
