/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/
/*---------BASE------*/
.wrapper {
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Dosis", sans-serif;
    font-size: 50px;

}

h2,
h3 {
    font-family: "Dosis", sans-serif;

}

.logo {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.titresectin {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
}



/* ==========================================================================================================================================================
                                        ÉLÉMENTS SECTONS ET AUTRES
==========================================================================================*/

/*----nav----*/
.header {
    background-color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;


}

ul {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #0E5EA1;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

a span {
    padding-left: 30px;
}

/*----Section hero----*/

.hero {
    background-image: url(../images/section.hero\ \(1\).jpg);
    height: 451px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.content {
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 44px;
    padding-top: 44px;


}

.content p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 10spx;
}

.content h1 {
    font-size: 50px;
    margin: 0;
}


/*----Section Option----*/

.options {
    border-bottom: 15px;
    border-color: #FFFFFF;
    background-color: #EEEEEE;
    padding-top: 87px;
    padding-bottom: 80px;
}

.options h2 {
    font-size: 36px;
    color: #0E5EA1;
    padding-bottom: 37px;
    margin: 0;
}

.options .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.colonne {
    padding: 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 5px, solid, #0E5EA1;

}

.colonne p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0 0 10px;
    line-height: 160%;
}

.options a {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 20px;
    align-self: center;
    background: #B7B7B7;
    padding: 11px 20px;
    border-radius: 10px;
}

.options a:hover {
    background-color: #0E5EA1;
    color: #FFFFFF;
}

/*----Section Option----*/

.bannière {
    background-color: #EEEEEE;
    padding-bottom: 83px;
}

/*----Footer----*/

footer {
    color: #FFFFFF;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 15px;

}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;

}