/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/
/*---------BASE------*/
.wrapper {
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Dosis", sans-serif;
    font-size: 50px;

}

h2,
h3 {
    font-family: "Dosis", sans-serif;

}

.logo {
    font-size: 40px;
}

.titresectin {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
}



/* ==========================================================================================================================================================
                                        ÉLÉMENTS SECTONS ET AUTRES
==========================================================================================*/

/*----nav----*/

nav {
    background-color: #FFFFFF;
    padding-top: 35px;
    padding-top: 35px;
}

ul span {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

a {
    text-decoration: none; 
}

