/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/
/*---------BASE------*/
.wrapper {
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Dosis", sans-serif;
    font-size: 50px;

}

h2,
h3 {
    font-family: "Dosis", sans-serif;

}

.logo {
    font-size: 40px;
}

.titresectin {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
}



/* ==========================================================================================================================================================
                                        ÉLÉMENTS SECTONS ET AUTRES
==========================================================================================*/

/*----nav----*/
.header {
   background-color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap:20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}