/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/
/*---------BASE------*/
.wrapper {
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Dosis", sans-serif;
    font-size: 50px;

}

h2,
h3 {
    font-family: "Dosis", sans-serif;

}

.logo {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.titresectin {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
}



/* ==========================================================================================================================================================
                                        ÉLÉMENTS SECTONS ET AUTRES
==========================================================================================*/

/*----nav----*/
.header {
    background-color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;


}

ul {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #0E5EA1;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

a span {
    padding-left: 30px;
}

/*----Section hero----*/

.hero {
    background-image: url(../images/section.hero\ \(1\).jpg);
    height: 451px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    border-radius: 10px;
    background: rgba(0, 0, 0,.5);
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 44px;
    padding-top: 44px;
   

}
.content p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.content h1 {
    font-size: 50px;
    margin: 0;
} 


/*----Section hero----*/